__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.env
.env.*

.ipynb_checkpoints/

.streamlit/

*.log

.DS_Store
Thumbs.db

.idea/
.vscode/

dist/
build/
*.egg-info/

*.db
*.sqlite3

data_pipeline/raw/*
!data_pipeline/raw/.gitkeep

*.pem
*.key
*.crt
